.recent-events-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.carousel {
  @apply flex overflow-x-auto p-2;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .carousel {
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
  }
}