.footer-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
  color: white;
  padding: 20px;
  background: #3b3b3b;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}

.card-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer-logo,
.social-links {
  background-color: inherit;
}

.footer-logo img {
  max-width: 90vw;
}

/* .footer-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
} */
