.home{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1800px;
    margin: auto;
    margin-top: 95px;
    background-color: var(--primary-color);
    padding: 50px;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding: 0px 15px;
    /* margin-top: -5px; */
    /* margin-left: 70px; */
}

.hero-para{
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 5px;
    /* margin-left: 40px; */
    line-height: 2.3;
    color: #ffffffa7;

}

.hero-para-div{
    margin-top: 30px;
    flex-wrap: wrap;

}

.play{
    /* margin-left: 40px; */
}

.play img{
    width: 100%;
    max-width: 600px;
}

.hero-button{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-button a{
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 1rem;
    transition: all 0.3s ease;
    margin-top: -5px;
}

@media (max-width: 1000px) {
    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* padding: 0 15px; */
    }
    
    .hero-para{
        margin-top: 20px;
        text-align: center;
        max-width: 600px;
        margin: auto;
        margin-bottom: 5px;
        line-height: 4;
    }

    .hero-para-div{
        margin-top: 70px;
    }

    .hero-button{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-button a{
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 30px 10px;
        font-size: 1rem;
        transition: all 0.3s ease;
    }
    
    .play{
        display: flex;
        justify-content: center;
    }

    .hero img{
        width: 80%;
        max-width: 450px;
    }
    
    .play img{
        width: 80%;
        height: 80%;
    }
}