.team{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
}

.meet-the-team{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.team-members {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.leads {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
}

.main-lead {
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: transform 0.25s ease-in-out; /* add this line */
  }
  
  .team-member:hover {
    transform: scale(1.06); /* add this line */
  }

    .team-member img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    .tech-leads {
        display: flex;
        align-items: center;
        justify-content: center;
    }
/* .team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50%;
    height: 50%;
    border-radius: 10px;
} */

@media (max-width: 1024px){
    .leads{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .team-member img {
        width: 550px;
        height:550px;
        object-fit: cover;
    }
}

@media (max-width: 865px){
    .team-member img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    .team-image{
        width: 80%;
        height: 80%;
    }
  }